html {
  transform: scaleY(0.25);
  position: absolute;
  top: -37.5%;
  height: 100%;
}

html, input, textarea, button {
  color: #d0d0d0;
}

input, textarea, button {
  background-color: transparent;
}

#lul {
  display: none;
}

label {
  display: block;
}

input, textarea {
  margin-left: 1em;
  margin-top: 1px;
}

iframe {
  height: 1.5em;
  width: 4em;
  pointer-events: none;
  margin: 0.5em;
}
